<!--ACA LLAMO AL TEMPLATE BASE PARA PONER LO QUE MUESTRA ESTE TEMPLATE-->
{% extends 'blogapp/base.html' %}
<!-- ACA EMPIEZA MI REPEATER-->
{% block content %}
	{% for post in posts %}
		
		<div class="post">                    		
			
			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
		
			<div class="date">
			<p>published: {{ post.published_date }}</p>
			</div>
		
		<p>{{ post.text|linebreaksbr }}</p>
		
		</div>

	{% endfor %}
{% endblock %}
<!-- ACA TERMINA MI REPEATER-->
    
